*{
    color: black;
    font-family: 'Georgia';
}
p{
    font-size: 19px !important;
}

li{
    font-size: 22px;
}

h1, h2, h3{
    font-family: 'Montserrat';
}

/* ------------------------------------- Class CSS ------------------------------------------*/
.img-fluid{
    position: relative;
}

.row {
    padding-top: 20px;
}

.about-author{
    color: rgb(82, 81, 81)
}

.author{
    background-color: #aadbe1
}

.procedures{
    background-color: #8dc1cf
}

.footer{
    background-color: #077395
}

.icon-white{
    color: white
}
.overview{
    background-color: #aadbe1
}

.showcase{
    background-color: #8dc1cf;
    
}

.nb-bg-color{
    background-color: #077395;
}
#d5ebf6
.author{
    padding-bottom: 40px;
}

.procedures{
    padding-bottom: 40px;
    padding-top: 35px;
}

/* ------------------------------------- ID CSS ------------------------------------------*/
a#nbMenuItem{
    font-size: 32px;
    padding-right: 20px;
    padding-left: 20px;


}

#nbMenuItem{
    right: 50px;
    font-family: 'Montserrat';
}

h1#ovPadLeft{
    padding-left: 20px;
}

p#ovPadLeft{
    padding-left: 20px;
}

h1#ovPadLeft{
    padding-left: 20px;
}

p#ovPadLeft{
    padding-left: 20px;
}

#rat-img{
    top: 5px;
}

#back-img{
    top: 10px;
}

#rep-img{
    top: 8px;
}

#oPadLeft{
    right: 30px !important; 
}

#title{
    font-size: 45px;
    padding-right: 30px;
   
}
#title{
    font-size: 45px;
    top: 35px;
}

#title-img{
    left: 20px !important; 
}

#nbMenuItem{
    color:#8dc1cf;
    font-size: 32px;
    padding-right: 20px;
    padding-left: 20px;
    right: 50px;
    
}
#nbMenuItem{
    font-family: 'Montserrat' !important;
    
}

#autext{
    color: black;
}

/* ------------------------------------- Underline Animation CSS ------------------------------------------*/
/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}
